%h1 あなたの待機状況
%p= "あなたの前に#{@lines_before_you}人"
%p待機番号
=@line.line_number
%p待機時間
=@time
%hr
=qrcode_tag("http://test-time-manager.herokuapp.com/lines/#{@line.id}")

%a(href="javascript:location.reload(true)")最新状況